/*! Font Family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  background-color: none;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5vw;
  /* background-color: rgba(255, 255, 255, 0.126); */
  backdrop-filter: blur(5px);
}
.logo {
  text-decoration: none;
  color: #df750b;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
  text-shadow: #ff8000ab 0px 0px 5px, #ff800077 0px 0px 10px,
    #ff800083 0px 0px 15px, #000000 0px 0px 20px,
    2px 2px 2px rgba(206, 89, 55, 0);
}
.nav a {
  color: #ff8000;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
  transition: 0.3s ease;
}
.nav a:hover {
  text-shadow: #ff8000ab 0px 0px 5px, #ff800077 0px 0px 10px,
    #ff800083 0px 0px 15px, #000000 0px 0px 20px,
    2px 2px 2px rgba(206, 89, 55, 0);
}
/* ! End Header Section */
section {
  padding: 100px 200px;
}
.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/background7.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(40%);
  z-index: 1;
  -webkit-filter: brightness(40%);
}

.main div {
  position: relative;
  z-index: 2; /* Ensures content is above the pseudo-element */
}
.main h2 {
  color: #ffff;
  font-size: 1.4em;
  font-weight: 500;
}
.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #d4a373;
  font-size: 3em;
  font-weight: 600;
}
.main h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-button {
  color: white;
  background-color: #8b5e3c;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-bottom: 40px;
  transition: ease 0.7s;
}
.main-button:hover {
  background-color: #5a3e2b;
  transform: scale(1.1);
}
.social-icons a {
  text-decoration: none;
  color: #ff8000;
  font-size: 1.8em;
  padding-right: 30px;
  transition: 0.3s ease;
}
.social-icons a:hover {
  text-shadow: #ff8000ab 0px 0px 5px, #ff800077 0px 0px 10px,
    #ff800083 0px 0px 15px, #000000 0px 0px 20px,
    2px 2px 2px rgba(206, 89, 55, 0);
}

::selection {
  background-color: #d4a373;
  color: white;
}
/* ! Services Section */
#services {
  background-color: #faf3e0; /* background for this section*/
}
.title {
  display: flex;
  justify-content: center;
  color: #ff8000; /* title color */
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #767676; /* content color */
}
.card {
  background-color: #ffffff; /* card background color */
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}
.card:hover {
  transform: scale(1.1);
}
.card .icon {
  color: #8b5e3c; /* icon color */
  font-size: 8em;
  text-align: center;
}
.info {
  text-align: center;
}
.info h3 {
  color: #ff8000; /* title color of the card */
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

/* ! Projects Section */
.projects {
  background-color: #3e3e3e;
}
.projects .content {
  margin-top: 30px;
}
.project-card {
  background-color: #ffffff;
  border: 15px solid #ffffff;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
}
.project-card:hover {
  transform: scale(1.1);
}
.project-card:hover .project-image {
  opacity: 0.9;
}
.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-info {
  padding: 1em;
}
.project-category {
  font-size: 0.8em;
  color: #000000;
}
.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
  color: #ff8000;
}
.more-details {
  text-decoration: none;
  color: #8b5e3c;
}

.more-details:hover {
  color: #582b0c; /* Brown text color */
  transition: 0.7s ease;
}
/* ! Contact Section */
.contact {
  background-color: #faf3e0;
}
.contact .icon {
  font-size: 4.5em;
}
.contact a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  color: #3e3e3e;
  transition: 0.7s ease;
}
.contact a:hover {
  color: #ff8000;
}
/* ! Footer Section */
.footer {
  background-color: #3e3e3e;
  color: #d4a373;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
.footer-title {
  font-size: 1.3em;
  font-weight: 600;
  color: white;
}
.footer-title span {
  color: #ff8000;
}
.footer .social-icons a {
  color: #d4a373;
  transition: 0.7s ease;
}
.footer .social-icons a:hover {
  color: #ff8000;
}
/* ! Scrollbar customization */
/* Style for the entire page's scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #f90;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

/* ! Media Queries */

/* Responsive Styles */

/* General Styles for Medium Screens */
@media screen and (max-width: 1024px) {
  header {
    padding: 12px 20px;
  }
  .nav a {
    padding-left: 10px;
    font-size: 1em;
  }
  .title {
    font-size: 1.8em;
  }
  section {
    padding: 80px 20px;
  }
  .main-content h2 {
    font-size: 1em;
  }
  .main-content h3 {
    font-size: 0.9em;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
    margin: 10px 0;
  }
  .project-card {
    width: 100%;
    margin: 10px 0;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* General Styles for Smaller Screens */
@media screen and (max-width: 641px) {
  .content {
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
  }
  .card,
  .project-card {
    width: 90%; /* Allow for flexible card width on mobile */
  }
  .main-button:hover,
  .card:hover,
  .project-card:hover {
    transform: none; /* Disable scale on small screens */
  }
  body {
    font-size: 12px;
    overflow-x: hidden;
  }
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .logo {
    font-size: 1.5em;
  }
  .nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .nav a {
    font-size: 0.9em;
    padding-left: 0;
  }
  .title {
    font-size: 1.5em;
  }
  .section-title {
    font-size: 1.3em;
  }
  .main h2 {
    font-size: 1em;
  }
  .main h3 {
    font-size: 0.8em;
  }
  .contact .icon {
    font-size: 3.5em;
  }
  .contact a {
    font-size: 1em;
  }
  .footer-title {
    font-size: 1em;
  }
  .footer {
    flex-direction: column;
    gap: 15px;
  }
  .footer-title {
    text-align: center;
  }
}

/* General Styles for Very Small Screens */
@media screen and (max-width: 480px) {
  /* disable scroll bar  */
  ::-webkit-scrollbar {
    display: none;
  }
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
  }
  .logo {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .nav {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .nav a {
    font-size: 0.8em;
  }
  .main h2 {
    font-size: 0.9em;
  }
  .main h2 span {
    font-size: 1.8em;
  }
  .main h3 {
    font-size: 0.7em;
  }
  .main-button {
    padding: 0.7em 1.5em;
    font-size: 0.9em;
  }
  .contact .icon {
    font-size: 3em;
  }
  .card {
    padding: 20px;
    margin: 5px 0;
  }
  .project-card {
    padding: 10px;
    margin: 5px 0;
  }
  .footer {
    padding: 1em;
    gap: 10px;
    text-align: center;
  }
  .footer-title {
    font-size: 0.9em;
  }
}
